{% extends "app/base.html" %}
{% block content %}
<!-- BLOG PAGE FOR SAVING SERIES, SIMILAR BUILD FOR ALL FUTURE SERIES -->
    <h1 class="display-header" style="text-align: center">A Perspective on Saving</h1>
    <p>Why is it so hard to save ?</p>
    {% for post2 in posts2%}
    <div1>
        <h1 class="article-title"><a class="a1" href="{% url 'blogpost2-detail' post2.id %}">{{ post2.title }}</a></h1>
        <article>
            <a href="{% url 'blogpost2-detail' post2.id %}">
                <img class="article-img" src="{{ post2.media.url}}" alt="blog media"></a>
        </article>
        <p class="article-content">{{ post2.summary }}</p>
    </div1>
    <br>
{% endfor %}
{%endblock content%}
