{% extends "app/base.html" %}
{% block content %}
<!-- BLOG PAGE FOR SAVING SERIES, SIMILAR BUILD FOR ALL FUTURE SERIES -->
    <h1 class="display-header" style="text-align: center">Investing 101</h1>
    <p class="article-content">Ah, the business community's favorite buzzword: investing has a ton of mystique, misconception and FOMO associated with it.</p>
    {% for post3 in posts3%}
    <div1>
        <h1 class="article-title"><a class="a1" href="{% url 'blogpost3-detail' post3.id %}">{{ post3.title }}</a></h1>
        <article>
            <a href="{% url 'blogpost3-detail' post3.id %}">
                <img class="article-img" src="{{ post3.media.url}}" alt="blog media"></a>
        </article>
        <p class="article-content">{{ post3.summary }}</p>
    </div1>
    <br>
{% endfor %}
{%endblock content%}
