{% extends "app/base.html" %}
{% block content %}
<!-- BLOG PAGE FOR BUDGETING SERIES, SIMILAR BUILD FOR ALL FUTURE SERIES -->
    <h1 class="display-header" style="text-align: center">Budgeting 101</h1>
    <div1><p>Budget - something only grown ups do. However, because we stay forever young we never actually get to it. </p></div1>
    {% for post1 in posts1%}
    <div1>
        <h1 class="article-title"><a href="{% url 'blogpost-detail' post1.id %}">{{ post1.title }}</a></h1>
        <article>
            <a href="{% url 'blogpost-detail' post1.id %}">
                <img class="article-img" src="{{ post1.media.url}}" alt="blog media"></a>
        </article>
        <p class="article-content">{{ post1.summary }}</p>
    </div1>
    <br>
{% endfor %}
<h1 class="display-header" style="text-align: center"><a id="#saving">An Introduction to Saving</a></h1>
    <div1><p>Why is it so hard to save? </p></div1>
{%endblock content%}
