{% extends "app/base.html" %}
{% block content %}
<section class="nonprofit">
 <div1 class="item1">
     <h1 class="header"> Finance <br>for</h1><img src="https://nine-app-media.s3-us-west-2.amazonaws.com/media/everyone.png" alt="everyone media">
 </div1>
</section>
<section class="nonprofit">
 <div1 class="item1">
     <p2> Money makes the world go around - yet, financial services are not a human right. Nine is a nonprofit: providing information & tools. Our goal is to eliminate financial bias, making finance accessible and transparent for everyone.</p2>
 </div1>
</section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<section class="blog" >
    <div1>
        <h1 class="display-header" style="text-align: center;"> Start Learning</h1>
    <div1><p class="article-content"> Money is everywhere, yet we still have questions.&nbsp;In these stories we are trying to get the subjective truth, we want to understand why and how the numbers affect us.</p></div1>
        <br>
        <h1 class="article-title" ><a href="{% url 'blog-more' %}">Budgeting 101</a></h1>
            <article>
                <a href="{% url 'blog-more'%}"><img class="article-img" src="https://nine-app-media.s3-us-west-2.amazonaws.com/blog_media/Budgeting+series+/ugly_numbers-min.png" alt="blog media"></a>
            </article>
            <p class="article-content" >Budget - something only grown ups do. However, because we stay forever young we never actually get to it.</p>
    </div1>
    <br style="margin-bottom:100px;">
    {% for post in posts%}
        <div1>
            <h1 class="article-title" ><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
            <article>
                <a href="{% url 'post-detail' post.id %}"><img class="article-img" src="{{ post.media.url}}" alt="blog media"></a>
            </article>
            <p class="article-content" >{{ post.summary }}</p>
        </div1>
    {% endfor %}
</section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<section class="nonprofit">
    <div1 class="item1">
        <h1 class="whitepaper">nonprofit</h1>
        <br>
        <p1>Eradicating poverty <br><br>Providing quality education <br><br>Promoting decent work and economic growth <br><br>Reducing Inequalities <br><br>Ensuring sustainable consumption and production </p1>
        <br>
        <br>
        <button class="button button1"><a href="https://docs.google.com/document/d/1Zqq49jSKRnYud73lFe_Njh38J8R5f6ylk3j548KjW9w/edit"> Read our Whitepaper</a></button>
    </div1>
</section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<section class="nonprofit">
    <div1 class="item1">
        <h1 class="display-header">Radical<br>Transparency</h1><br>
        <h1 class="amount">$43</h1><br>
        <button class="button"><a href="https://docs.google.com/spreadsheets/d/1dMnaZC32_NHr9ktWD8_NBu6pn3M-5laSakJwqygJyOY/edit#gid=944057300">Check out our Finances</a></button>
    </div1>
</section>
    <br>
    <br>
<section class="nonprofit">
    <div1 class="item1">
        <h1 class="display-header" style="justify-content: left">Blockchain</h1><br>
        <img class="everyone" src="https://nine-app-media.s3-us-west-2.amazonaws.com/media/Blockchain.png" alt="loader media"><br><br>
        <button class="button"><a href="#"> Coming Soon</a></button>
    </div1>
</section>
    <br>
    <br>
    <br>
<section class="timeline">
<!--{% for timeline in times %}
    {% if timeline.position == "1st" %}
        <div class="item-b">
            <img class="card-img-top" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "1stC" %}
       <div class="item-b1 slideshow" onclick="plusSlides(1)">
               <div class="slider"> <h5>{{timeline.title }}</h5> </div>
               <div class="slider"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
               <div class="slider"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
               <div class="slider"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot" onclick="currentSlide(1)"></span>
               <span class="dot" onclick="currentSlide(2)"></span>
               <span class="dot" onclick="currentSlide(3)"></span>
           </article>
       </div>
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
            function showSlides(n) {
                let i;
                const slides = document.getElementsByClassName("slider");
                const dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
            }
        </script>


    {% elif timeline.position == "2nd"%}
        <div class="item-c">
            <img class="card-img-top1" src="{{ timeline.media.url}}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "2ndC" %}
        <div class="item-c1 slideshow" onclick="plusSlides2(1)">
            <div class="slider2"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider2"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider2"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider2"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot2" onclick="currentSlide2(1)"></span>
               <span class="dot2" onclick="currentSlide2(2)"></span>
               <span class="dot2" onclick="currentSlide2(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex2 = 1;
            showSlides2(slideIndex2);
            function plusSlides2(f) {
                showSlides2(slideIndex2 += f);
            }
            function currentSlide2(f) {
                showSlides2(slideIndex2 = f);
            }
            function showSlides2(f) {
                let a;
                const slides2 = document.getElementsByClassName("slider2");
                const dots2 = document.getElementsByClassName("dot2");
                if (f > slides2.length) {slideIndex2 = 1}
                if (f < 1) {slideIndex2 = slides2.length}
                for (a = 0; a < slides2.length; a++) {
                  slides2[a].style.display = "none";
                }
                for (a = 0; a < dots2.length; a++) {
                    dots2[a].className = dots2[a].className.replace(" active", "");
                }
                slides2[slideIndex2-1].style.display = "block";
                dots2[slideIndex2-1].className += " active";
            }
        </script>
    {% elif timeline.position == "3rd"%}
        <div class="item-d">
            <img class="card-img-top1" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "3rdC" %}
        <div class="item-d1 slideshow" onclick="plusSlides3(1)">
            <div class="slider3"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider3"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider3"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider3"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot3" onclick="currentSlide3(1)"></span>
               <span class="dot3" onclick="currentSlide3(2)"></span>
               <span class="dot3" onclick="currentSlide3(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex3 = 1;
            showSlides3(slideIndex3);
            function plusSlides3(a) {
                showSlides3(slideIndex3 += a);
            }
            function currentSlide3(a) {
                showSlides3(slideIndex3 = a);
            }
            function showSlides3(a) {
                let b;
                const slides3 = document.getElementsByClassName("slider3");
                const dots3 = document.getElementsByClassName("dot3");
                if (a > slides3.length) {slideIndex3 = 1}
                if (a < 1) {slideIndex3 = slides3.length}
                for (b = 0; b < slides3.length; b++) {
                  slides3[b].style.display = "none";
                }
                for (b = 0; b < dots3.length; b++) {
                    dots3[b].className = dots3[b].className.replace(" active", "");
                }
                slides3[slideIndex3-1].style.display = "block";
                dots3[slideIndex3-1].className += " active";
            }
        </script>
    {% elif timeline.position == "4th"%}
        <div class="item-e">
            <img class="card-img-top1" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "4thC" %}
        <div class="item-e1 slideshow" onclick="plusSlides4(1)">
            <div class="slider4"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider4"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider4"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider4"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot4" onclick="currentSlide4(1)"></span>
               <span class="dot4" onclick="currentSlide4(2)"></span>
               <span class="dot4" onclick="currentSlide4(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex4 = 1;
            showSlides4(slideIndex4);
            function plusSlides4(b) {
                showSlides4(slideIndex4 += b);
            }
            function currentSlide4(b) {
                showSlides4(slideIndex4 = b);
            }
            function showSlides4(b) {
                let c;
                const slides4 = document.getElementsByClassName("slider4");
                const dots4 = document.getElementsByClassName("dot4");
                if (b > slides4.length) {slideIndex4 = 1}
                if (b < 1) {slideIndex4 = slides4.length}
                for (c = 0; c < slides4.length; c++) {
                  slides4[c].style.display = "none";
                }
                for (c = 0; c < dots4.length; c++) {
                    dots4[c].className = dots4[c].className.replace(" active", "");
                }
                slides4[slideIndex4-1].style.display = "block";
                dots4[slideIndex4-1].className += " active";
            }
        </script>
    {% elif timeline.position == "5th"%}
        <div class="item-f">
            <img class="card-img-top" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "5thC" %}
        <div class="item-f1" onclick="plusSlides5(1)">
            <div class="slider5"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider5"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider5"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider5"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot5" onclick="currentSlide5(1)"></span>
               <span class="dot5" onclick="currentSlide5(2)"></span>
               <span class="dot5" onclick="currentSlide5(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex5 = 1;
            showSlides5(slideIndex5);
            function plusSlides5(c) {
                showSlides5(slideIndex5 += c);
            }
            function currentSlide5(c) {
                showSlides5(slideIndex5 = c);
            }
            function showSlides5(c) {
                let d;
                const slides5 = document.getElementsByClassName("slider5");
                const dots5 = document.getElementsByClassName("dot5");
                if (c > slides5.length) {slideIndex5 = 1}
                if (c < 1) {slideIndex5 = slides5.length}
                for (d = 0; d < slides5.length; d++) {
                  slides5[d].style.display = "none";
                }
                for (d = 0; d < dots5.length; d++) {
                    dots5[d].className = dots5[d].className.replace(" active", "");
                }
                slides5[slideIndex5-1].style.display = "block";
                dots5[slideIndex5-1].className += " active";
            }
        </script>
    {% elif timeline.position == "6th"%}
        <div class="item-g">
            <img class="card-img-top" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "6thC" %}
        <div class="item-g1" onclick="plusSlides6(1)">
            <div class="slider6"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider6"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider6"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider6"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot6" onclick="currentSlide6(1)"></span>
               <span class="dot6" onclick="currentSlide6(2)"></span>
               <span class="dot6" onclick="currentSlide6(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex6 = 1;
            showSlides6(slideIndex6);
            function plusSlides6(d) {
                showSlides6(slideIndex6 += d);
            }
            function currentSlide6(d) {
                showSlides6(slideIndex6 = d);
            }
            function showSlides6(d) {
                let e;
                const slides6 = document.getElementsByClassName("slider6");
                const dots6 = document.getElementsByClassName("dot6");
                if (d > slides6.length) {slideIndex6 = 1}
                if (d < 1) {slideIndex6 = slides6.length}
                for (e = 0; e < slides6.length; e++) {
                  slides6[e].style.display = "none";
                }
                for (e = 0; e < dots6.length; e++) {
                    dots6[e].className = dots6[e].className.replace(" active", "");
                }
                slides6[slideIndex6-1].style.display = "block";
                dots6[slideIndex6-1].className += " active";
            }
        </script>
    {% elif timeline.position == "7th"%}
        <div class="item-h">
            <img class="card-img-top" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "7thC" %}
        <div class="item-h1" onclick="plusSlides7(1)">
            <div class="slider7"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider7"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider7"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider7"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot7" onclick="currentSlide7(1)"></span>
               <span class="dot7" onclick="currentSlide7(2)"></span>
               <span class="dot7" onclick="currentSlide7(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex7 = 1;
            showSlides7(slideIndex7);
            function plusSlides7(e) {
                showSlides7(slideIndex7 += e);
            }
            function currentSlide7(e) {
                showSlides7(slideIndex7 = e);
            }
            function showSlides7(e) {
                let f;
                const slides7 = document.getElementsByClassName("slider7");
                const dots7 = document.getElementsByClassName("dot7");
                if (e > slides7.length) {slideIndex7 = 1}
                if (e < 1) {slideIndex7 = slides7.length}
                for (f = 0; f < slides7.length; f++) {
                  slides7[f].style.display = "none";
                }
                for (f = 0; f < dots7.length; f++) {
                    dots7[f].className = dots7[f].className.replace(" active", "");
                }
                slides7[slideIndex7-1].style.display = "block";
                dots7[slideIndex7-1].className += " active";
            }
        </script>
    {% elif timeline.position == "8th"%}
        <div class="item-i">
            <img class="card-img-top" src="{{ timeline.media.url }}" alt="timeline media">
            <div class="card-body">
                <small class="card-subtitle text-muted">
                    {{ timeline.date|date:'F, Y'}}
                </small>
            </div>
        </div>
    {% elif timeline.position == "8thC" %}
        <div class="item-i1" onclick="plusSlides8(1)">
            <div class="slider8"> <h5>{{timeline.title }}</h5> </div>
            <div class="slider8"><p><q><i>{{ timeline.content1 }}</i></q></p> </div>
            <div class="slider8"> <p><q><i>{{ timeline.content2 }}</i></q></p></div>
            <div class="slider8"><p><q><i>{{ timeline.content3 }}</i></q></p> </div>
           <article>
               <span class="dot8" onclick="currentSlide8(1)"></span>
               <span class="dot8" onclick="currentSlide8(2)"></span>
               <span class="dot8" onclick="currentSlide8(3)"></span>
           </article>
        </div>
        <script>
            let slideIndex8 = 1;
            showSlides8(slideIndex8);
            function plusSlides8(h) {
                showSlides8(slideIndex8 += h);
            }
            function currentSlide8(h) {
                showSlides8(slideIndex8 = h);
            }
            function showSlides8(h) {
                let g;
                const slides8 = document.getElementsByClassName("slider8");
                const dots8 = document.getElementsByClassName("dot8");
                if (h > slides8.length) {slideIndex8 = 1}
                if (h < 1) {slideIndex8 = slides8.length}
                for (g = 0; g < slides8.length; g++) {
                  slides8[g].style.display = "none";
                }
                for (g = 0; g < dots8.length; g++) {
                    dots8[g].className = dots8[g].className.replace(" active", "");
                }
                slides8[slideIndex8-1].style.display = "block";
                dots8[slideIndex8-1].className += " active";
            }
        </script>
    {% endif%}
{% endfor %}-->
</section>
{% endblock %}

