{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
                <div1 class="article-metadata">
                  <small class="text-muted">{{ post.date|date:'F d, Y' }}</small>
                </div1>
              <div1 class="media-body">
                <h2 class="article-title">{{ post.title }}</h2>
                <img class="article-img" src="{{ post.media.url}}" alt="blog media">
                <p class="article-content">{{ post.content }}</p>
              </div1>
        </article>
{%endblock content%}
