* {
    margin: 0 auto;
    box-sizing: border-box;

}

body {
    background: #000000;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 7rem;
    justify-content: center;
    justify-self: center;
    text-align: center;
}
p, a, blockquote{
    top: 50%;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    font-family: 'Noto Sans';
}
a:hover{
    color: white;
}
h1{
    color: #FFFFFF;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    max-width: 640px;
    font-size: 54px;
    line-height: 90.5%;
    letter-spacing: -0.09em;
    justify-content: center;
    text-align: left;
}
h2 {
    color: #FFFFFF;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    max-width: 640px;
    font-size: 36px;
    line-height: 90.5%;
    letter-spacing: -0.09em;
    justify-content: center;
    text-align: left;
}

.preload{
    display: block;
    position: fixed;
    justify-content: center;
    width: 100%;
    max-width: 640px;
    top: 40%;
    left:0;
    right: 0;

}
button {
    border: 2px solid #ffffff;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 18px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}
button:hover{
    color: white;
    background-color: #C4C4C4;
}
