*{
  margin: 0 auto;
  box-sizing: border-box;
}
body {
    background: #000000;
    color: #000000;
    margin-top: 7rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #cbd5db;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
#header{
    top: 0;
}
#logo{
    padding-top: 20px;
    width: 62px;
    height: 73px;
}
p, a{
    color: #cbd5db;
    justify-content: center;
    padding-bottom: 25px;
}
#logo:hover{
    filter: url(#glow);
}
ul {
  margin: 0;
}

article{
  width: 484px;
  height: 235px;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.article-title {
  color: #cbd5db;
}

a.article-title:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
